---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Slider from '../components/Slider.astro';



---
<link rel="prefetch" href="https://unpkg.com/blaze-slider@1.9.3/dist/blaze-slider.dev.js">
<Layout title="Welcome to astro x bun x javascript.">
	<main>
		
		
		<Slider/>
			
	</main>


</Layout>



